body {
  background: rgba(0, 191, 255, 0.2);
  font-family: 'PT Sans Caption', sans-serif;
}
div.centered {
  position: fixed;
  top: 50%;
  left: 0px;
  margin-top: -50px;
  width: 100%;
  min-height: 100px;
  background: rgba(0, 191, 255, 0.8);
  box-shadow: 0px 5px 3px rgba(0, 191, 255, 0.4);
  text-align: center;
}
span.centered {
  display: block;
  vertical-align: middle;
  font-size: 40px;
  word-wrap: break-word;
  margin-top: 26px; 
  margin-bottom: 26px;
}
.good {
  color:#00FF56;
}
.wrong {
  color:#FE2E2E;
}
.next {
  color:#FFF500;
}
.credits {
  text-align:center;
  font-size:12px;
}